#order_tracker {
    padding: 10px;
    margin-top: 20px;
}

#order_tracker .mailNo {
    font-weight: bold;
}


#order_tracker .package {
    padding: 0.8em;
    background: #eee;
    margin-bottom: 8px;
    border-radius: 1px;
}
#order_tracker .order_imgs {
    background: #ccc;
    padding: 10px !important;
    margin-top: 5px;
    border-radius: 3px;
    box-shadow: inset 0 0 2px #000;
}

#order_tracker .order_imgs > div {
    margin-right: 5px;
    text-align: center;
}

#order_tracker .order_imgs img {
    border-radius: 2px;
}